<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098144840026-2b0b9a0s7o37thp9db5qd4aumvaofifk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098144840026-2b0b9a0s7o37thp9db5qd4aumvaofifk</string>
	<key>API_KEY</key>
	<string>AIzaSyBXccmjb-sbX2hmll3Npumo3cKA5cqlgug</string>
	<key>GCM_SENDER_ID</key>
	<string>1098144840026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getheroapp.heroagent</string>
	<key>PROJECT_ID</key>
	<string>hero-agent-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hero-agent-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098144840026:ios:312f1419d0d996a609db63</string>
</dict>
</plist>